__pycache__
.DS_Store
.idea
.mypy_cache
.pytest_cache
.env
actual_work_info.md
src/auth/client_secret_1079250209238-ugnen9qhn3f7s43cl1ur0tigqdcinimg.apps.googleusercontent.com.json
src/google_drive/know2grow-secret-key.json
alembic.ini
/migrations/
pyproject.toml
src/google_drive/token_drive_v3.pickle
# Project exclude paths
/venv/
/media/