<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./static/js/base.js"></script>
</head>
<body>
<nav class="container">
{% for i in buttons %}
    <p class="button" style="display: inline-block;"><a href="{{ i.url }}"><input id="input" type="button" value="{{ i.name }}"></a></p>
{% endfor %}
</nav>

<h1 style="text-align: center;">{{ title }}</h1>

{% block content %}
{% endblock %}

</body>
</html>